[Unit]
Description=Manta Roscore Start Service
StartLimitInterval=200
StartLimitBurst=10

[Service]
ExecStart=/home/ubuntu/catkin_ws/src/MANTA/manta_setup/shellscript/manta_>
Restart=always
RestartSec=60