<?xml version="1.0"?>
<launch>
  <node name="manta_main_node" pkg="manta_main" type="manta_main_node" required="true"/>
  <node name="manta_led_node" pkg="manta_led" type="manta_led_node" required="true"/>
  <node name="manta_mp3_node" pkg="manta_mp3" type="manta_mp3_node" required="true"/>
</launch>
